{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор!</h1>
<div class="row">
  <article class="col-12 col-md-9">
    <p>
      Привет! Меня зовут Мария, и недавно я начала свой путь в программировании. 
      В 2019 году я сделала первые робкие шаги на пути к изучению языка Python. 
      Тогда я и представить себе не могла, что меня настолько увлечёт программирование,
      что я приму решение поменять профессию и посвятить себя этой абсолютно новой для меня сфере. 
      Прямо сейчас вы находитесь на сайте, который является моим первым проектом. 
    </p>
    <p>
      Я всегда любила литературу - и художественные произведения, и мемуары, и письма известных людей. 
      Наверное, символично, что мой первый сайт - это как раз площадка для публикаций личных дневников. 
      Уверена, что каждый из вас найдёт здесь что-то интересное для себя.
    </p>
    <p>
      Другие мои работы доступны на сайте github.com:
      <a href="https://github.com/mariyabykova">Github - Мария Быкова</a>
    </p>
  </article>
  <aside class="col-12 col-md-3">
    <img class="w-50 mx-auto d-block" src="{% static 'img/img_1.JPG' %}" type="image">
  </aside>
</div>
{% endblock %}