{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        Django ORM
      </li>
      <li class="list-group-item">
        HTML
      </li>
      <li class="list-group-item">
        CSS
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>
      Для работы над проектом Yatube я использовала фреймворк Django. 
      Django стало настоящим открытием для меня: разработчики продумали
      множество инструментов для того, чтобы максимально облегчить процесс
      создания проекта. Очень интересно было шаг за шагом создавать приложения и постепенно
      заполнять многочисленные файлы: views, urls, models... А потом видеть, как всё это
      начинает работать!
    </p>
    <p>
      В Django очень интересно решён вопрос взаимодействия с базами данных. Пришлось приложить
      определённые усилия для того, чтобы разобраться с нюансами работы ORM. Но это того стоит! 
      Очень удобно и продуманно!
    </p>
    <p>
      А ещё мне понравилось разбираться с процессом передачи данных в шаблоны. 
      Не всё и не сразу получалось (особенно, когда дело касалось работы с формами),
      но я уверена, что со временем я наберусь опыта и буду без труда владеть этими технологиями. 
      В общем, Django - это отличная вещь!
    </p>
  </article>
</div>
{% endblock %}